<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Вход</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <div><button class="button1" type="submit">Вход</button></div>
    </form>
    <div class="error1">
        {% if errors %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>
    <form action="/signup">
        <div ><button class="button2" type="submit">Зарегистрироваться</button></div>
    </form>

</body>
</html>